.title {
  color: #1366f1 !important;
}

.home__bodyContainer {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
}

.details-btn {
  float: right;
}

.card {
  margin: 30px;
}

.home__details {
  // margin-top: 80px;
}

// modal

.category-box {
  display: flex;
  flex-direction: row;
}
